<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>	
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <!-- 项目配置 -->
	<servlet>
		<servlet-name>CheckManagerServlet</servlet-name>
		<servlet-class>stu.controll.CheckManagerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>showAllStudentsServlet</servlet-name>
		<servlet-class>stu.controll.ShowAllServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddStudentServlet</servlet-name>
		<servlet-class>stu.controll.AddServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DelStudentServlet</servlet-name>
		<servlet-class>stu.controll.DeleteServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateStudentServlet</servlet-name>
		<servlet-class>stu.controll.UpdateServlet</servlet-class>
	</servlet>
    <servlet>
		<servlet-name>PreServlet</servlet-name>
		<servlet-class>stu.controll.PreServlet</servlet-class>
	</servlet>
  <servlet>
    <servlet-name>SearchByIdServlet</servlet-name>
    <servlet-class>stu.controll.SearchByIdServlet</servlet-class>
  </servlet>
  <servlet>
    
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>stu.controll.LoginServlet</servlet-class>
  </servlet>

	
		<!-- mapping映射 -->
	<servlet-mapping>
		<servlet-name>CheckManagerServlet</servlet-name>
		<url-pattern>/check</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>showAllStudentsServlet</servlet-name>
		<url-pattern>/showAllStudents</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddStudentServlet</servlet-name>
		<url-pattern>/stadd</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DelStudentServlet</servlet-name>
		<url-pattern>/stdelete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateStudentServlet</servlet-name>
		<url-pattern>/stupdate</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
		<servlet-name>PreServlet</servlet-name>
		<url-pattern>/pre</url-pattern>
		</servlet-mapping>
		

   
   
		<servlet-mapping>
    <servlet-name>SearchByIdServlet</servlet-name>
    <url-pattern>/searchById</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
	<filter>
		<filter-name>EncodingFilter</filter-name>
		<filter-class>stu.filter.EncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>
